SECRET_KEY = django-insecure-j9x&j9u!1@mdo+&k$f34g=7@)58eri2_je7b(%u&l1n3_2_4=m

DEBUG = TRUE

ALLOWED_HOSTS = 127.0.0.1

db.name = shop
db.user = dastan
db.password = 1
db.host = localhost

EMAIL_BACKEND = django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST = smtp.gmail.com
EMAIL_PORT = 587
EMAIL_USE_TLS = True
EMAIL_HOST_USER = dastan12151@gmail.com
EMAIL_HOST_PASSWORD = bifydqkmigyxfgwf
